body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #213547;
  background-color: #ffffff;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0 0 0.5em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

ul {
  list-style-type: none;
}

.nav-bar {
  background-color: #ededed;
  border-radius: 8px;
  display: flex;
  gap: 1em;
  padding: 1em;
}

.content {
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1em;
  width: auto;
}

.content__title {
  margin: 0 0 0.75em;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.content__list--products {
  flex-direction: row;
}

/* Write your styles below */
